@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata', monospace;
}

h5{
	text-align:center;
	font-family: 'myFont', 'Inconsolata', monospace;
	font-size: 32px;
}

h2 {
	overflow: hidden;
	text-align: center;
  }
  
  h2:before,
  h2:after {
	background-color: rgb(102, 136, 155);
	content: "";
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: middle;
	width: 50%;
	padding: 5px;
  }
  
  h2:before {
	right: 1em;
	margin-left: -50%;
  }
  
  h2:after {
	left: 1em;
	margin-right: -50%;
  }

body {
	width: 100%;
	margin: 0;
	top: 100px;
	padding-top: 100px;
	background-image: linear-gradient(to bottom , rgb(137, 168, 187),rgb(165, 200, 221));
	color: #eee;
	font-family: 'Lato', sans-serif;
	/* font-size: 62.5%; */
	box-sizing: border-box;
	text-align: center;
}


section{
	width: 100%;
	text-align: center;
}

#menu
{
	vertical-align: top;
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(to top , rgb(137, 168, 187),rgb(165, 200, 221));
	box-shadow: 0 0 32px #0003;
	font-weight: 350;
	font-size: 1em;
	z-index: 9999;

} 

ul#menu > li {
    display: inline-block;
    *display:inline;
	padding: 0.3em 0.3em 0.3em 0.3em;	
}

ul#bottom-menu > li {
    display: inline-block;
    *display:inline;
	padding: 0.2em 0.2em 0.2em 0.2em;	
}

ul#menu li a {
	font-family: 'Lato', sans-serif;
	font-weight: 360;
	color: rgb(53, 68, 80);
	padding: 1.5em;
	text-decoration: none;
	transition: all .5s;
}
ul#menu li a:hover {
	background: #ffffff06;
	color: rgb(202, 234, 255);
}

form { 
	margin: 0 auto; 
	width:500px;
	padding: 20px;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	}

	#submit-btn{
		background-color: rgb(136, 157, 172);
	}

	input[type=text]{
		width:50%;
		resize: vertical;
		padding:10px;
		border-radius:15px;
		border:0;
		box-shadow:4px 4px 10px rgba(0,0,0,0.06);
		height:30px;
		font-family: 'myFont', 'Inconsolata', monospace;

	}

	#containerText .emojionearea-editor {
		min-height: 13em !important;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;	  }

	textarea {
		width:100%;
		resize: vertical;
		padding:15px;
		border-radius:15px;
		border:0;
		box-shadow:4px 4px 10px rgba(0,0,0,0.06);
		height:150px;
		font-family: 'myFont', 'Inconsolata', monospace;
	  }

	.submit-btn{
		font-family: 'Inconsolata', monospace;
		vertical-align: 0px;
		padding: 1em;
	}

	input[type=submit]{
		width:50%;
		resize: vertical;
		padding:10px;
		border-radius:15px;
		border:0;
		box-shadow:4px 4px 10px rgba(0,0,0,0.06);
		font-family: 'myFont', 'Inconsolata', monospace;
	}

	*, *:before, *:after {
		box-sizing: border-box;
	  }

	  ::-webkit-input-placeholder { 
		font-family: 'myFont', 'Inconsolata', monospace;
		color:rgb(155, 164, 170)
	  }
	  ::-moz-placeholder {
		font-family: 'myFont', 'Inconsolata', monospace;
		color:rgb(155, 164, 170)
	  }
	  :-ms-input-placeholder {
		font-family: 'myFont', 'Inconsolata', monospace;
		color:rgb(155, 164, 170)
	  }
	  :-moz-placeholder { 
		font-family: 'myFont', 'Inconsolata', monospace;
		color:rgb(155, 164, 170)
	  }

*{
	box-sizing: border-box;
  }

  #bottom-menu{
	background-color: rgb(96, 115, 138);
	vertical-align: middle;
  }
  
  /* Position the image container*/
  .containerImg {
	position:relative;
	max-width:60%!important;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	text-align: center;
}

.tweet-div{
	position:relative;
	max-width:80%!important;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prevImg,
  .nextImg {
	cursor: pointer;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }

  .prevImg{
	left: 0px;
  }
  
  /* Position the "next button" to the right */
  .nextImg {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevImg:hover,
  .nextImg:hover {
	background-color: rgb(102, 136, 155);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: rgb(102, 136, 155);
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	padding: 1px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
