@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}

html, body { min-height: 100%; }

body {
	background-color: rgb(165, 200, 221);
	background-image: linear-gradient(to bottom, rgba(76, 98, 124, 0.6), transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

/* Appearance */
#menu {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: transparent;
	background-image: linear-gradient(to bottom, rgb(137, 168, 187), transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 350;
}

ul#menu li{
    display: inline;
}

ul#menu li a {
	display: inline;
	color: rgb(53, 68, 80);
	padding: 8px 16px;

	/* padding: .75em; */
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
ul#menu li a:hover {
	background: #ffffff06;
	color: rgb(202, 234, 255);
}


/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
ul#menu {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
ul#menu line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
ul#menu a:hover ~ line {
	opacity: 1;
}

ul#menu a:nth-of-type(1):hover ~ .line { --index: 1; }
ul#menu a:nth-of-type(2):hover ~ .line { --index: 2; }
ul#menu a:nth-of-type(3):hover ~ .line { --index: 3; }
ul#menu a:nth-of-type(4):hover ~ .line { --index: 4; }
ul#menu a:nth-of-type(5):hover ~ .line { --index: 5; }
ul#menu a:nth-of-type(6):hover ~ .line { --index: 6; }
ul#menu a:nth-of-type(7):hover ~ .line { --index: 7; }
ul#menu a:nth-of-type(8):hover ~ .line { --index: 8; }
ul#menu a:nth-of-type(9):hover ~ .line { --index: 9; }
ul#menu a:nth-of-type(10):hover ~ .line { --index: 10; }
ul#menu a:last-of-type:hover ~ .line { --index: var(--items); }

